In [2]:
# 1. si yo hago una función, ¿qué errores puede dar?

def divide(num1, num2):
    return num1/num2

divide()

TypeError: divide() missing 2 required positional arguments: 'num1' and 'num2'

In [3]:
divide(5,0)

ZeroDivisionError: division by zero

In [4]:
divide([1,2,3], True)

TypeError: unsupported operand type(s) for /: 'list' and 'bool'

In [24]:
def divide(num1 , num2 = 1):
    if type(num1) != int and type(num2) != int:
        return "numeros no enteros"
    elif num2 == 0:
        return "denominador igual a cero"
    else:
        try:
            resultado = num1/num2
            return resultado
        except:
            return "ha habido un error"
        
print(divide(6.0, 3.0))
        
print(divide("hola", 8))
print(divide(3,0))
print(divide(6,2))


print(divide())

try:
    divide(1,2,3,4)
except:
    print("lalala")

print(divide(num2 = 0.5))

SyntaxError: non-default argument follows default argument (1771689336.py, line 1)

In [23]:
divide(num1 = 3)

3.0

In [19]:
print() # print("", sep=" ", end= "\n")
print("hola") # print("hola", sep=" ", end= "\n")

hola

In [18]:
divide(None)

'ha habido un error'

In [13]:
type(None)

NoneType

In [1]:
1+1

2

In [25]:
nombre = "Alberto"
resultado = nombre.upper()
print(nombre)
print(resultado)

Alberto
ALBERTO

In [ ]:
resultado = 7 + 2

In [ ]:
nombre = True

In [28]:
numero = 7

def color():
    color = "rojo"
    return color

print(color())

rojo

In [39]:
mi_lista = []
mi_lista.append(2)
print(mi_lista)

tupla_nueva = (1,2,3) + (4,5,6)
print(tupla_nueva)

mi_tupla = (1,2,3,[])


#mi_tupla[0] = "lalala"  # da error porque las tuplas no se pueden modificar

print(mi_tupla[0] + 5)  # 1 + 5

mi_tupla[3].append("¡sorpresa!")

# tengo una tupla de 4 objetos
# objeto0 1
# objeto1 2 
# objeto2 3
# objeto3 [].append(2)

[2]
(1, 2, 3, 4, 5, 6)
6

In [40]:
(1,2,3) + (4,)

(1, 2, 3, 4)

In [44]:
ejer_3_1 = ["Hola", "amigo"]
ejer_3_2 = ["Que", "tal"]

resultado = []

for i in ejer_3_1:  # ["Hola", "amigo"]
    for x in ejer_3_2: #["Que", "tal"]
        print(i + x)
        resultado.append(i + " " + x)

print(resultado)

HolaQue
Holatal
amigoQue
amigotal
['Hola Que', 'Hola tal', 'amigo Que', 'amigo tal']

In [59]:
sorted(["hola", "adiós"])
sorted([True, False])
sorted([str(3),"hola"])

['3', 'hola']

In [51]:
ord("a")

97

In [52]:
chr(97)

'a'

In [63]:
len({"color": "rojo"})

1

In [66]:
mi_tupla = (1,2,3)
mi_lista = list(mi_tupla)
mi_lista.append(4)

print(mi_tupla)
print(mi_lista)

mi_tupla = tuple(mi_lista)

(1, 2, 3)
[1, 2, 3, 4]

In [71]:
# funciones
'''
def arbpalabras (listpalabras): # 1 string como argumento
    frase=listpalabras.replace(","," ").replace(", "," ")
    return frase

print(arbpalabras("burguer,lechuga,pan"))
'''


'''
def arbpalabras1 (*listpalabras1): #varias strings como argumentos
    frase=""
    for palabra in listpalabras1:
        frase= frase + palabra + " "
    return frase[:-1]

print(arbpalabras1("burguer","lechuga","pan"))
'''


def arbpalabras1 (*listpalabras1): #Varias variables no definidas como argumentos??
    palabra=""
    for palabra in listpalabras1:
        frase= frase + palabra + " "
    return frase


burguer = input("menú de hamburguesería")
lechuga = input("tipo de lechuga")
pan= input("tipo de pan")

def tipo_de_pan():
    pan = input("¿qué pan quiere usted?: ")
    return pan

pan = tipo_de_pan()

print(arbpalabras1(burguer,lechuga,pan))

burguerxlechugaxpan

In [76]:
saludo = 2 + 2
del saludo

In [77]:
list((1,2,3))

[1, 2, 3]

In [ ]:
mi_lista = "hola"

list((1,2,3)) # "hola"(1,2,3)

# list, str, bool, tuple, dict, set, int, float, 

str = 7
str(8)

In [78]:
print

In [ ]:
mi_lista_bonita

In [79]:
print()

In [81]:
dict() # [(clave, valor)  (clave, valor), (clave, valor)]

mi_lista_de_tuplas = [("nombre", "Alberto"), ("alumnos", 15), ("aprobados", True)]

dict(mi_lista_de_tuplas)

{'nombre': 'Alberto', 'alumnos': 15, 'aprobados': True}

In [82]:
ciudades = ["Bilbao", "Valencia", "Madrid"]
mi_lista = []
for mi_tupla in enumerate(ciudades):
    mi_lista.append(mi_tupla)

dict(mi_lista)

{0: 'Bilbao', 1: 'Valencia', 2: 'Madrid'}

In [83]:
def de_diccionario_a_lista(mi_diccionario):
    # quiero devolver [valor, valor, valor...]
    objeto_retornado = mi_diccionario.values()
    return list(objeto_retornado)

de_diccionario_a_lista({"nombre": "Alberto", "apellido": "Romero"})

['Alberto', 'Romero']

In [86]:
# factorial
# 0! = 1
# 1! = 1 x 0! = 1 x 1 = 1
# 2! = 2 x 1!
# 3! = 3 x 2!
# 4! = 4 x 3! = 4 x 3 x 2 x 1

# no recursivo
def fact_no_recursivo(num):
    resultado = 1
    for x in range(num):
        resultado = resultado * (x+1)
    return resultado

fact_no_recursivo(4)

def factorial_recursivo(num):
    if num == 0:
        return 1
    else:
        return num * factorial_recursivo(num-1)
    
factorial_recursivo(4)

24

In [ ]:
# print y funciones

def suma_numeros(num1, num2):
    print(num1)
    print(num2)
    print(num1+num2)
    #return None
    return num1 + num2 

# input --> procesado --> valor_retornado
# input: vacío, 1 objeto, 2 objetos, tantos como yo quiera (* o **)

valor_retornado = suma_numeros(1,3)
suma_numeros(1,3)

print(mi_lista.append(8)) # print(None)
print(mi_lista)

resultado = suma_numeros(1,3)

In [96]:
mi_lista = []

In [99]:



def en_lista(lista = [], comando = "add", elementos=None):
  if comando == "add":
    lista.append(elementos)
  elif comando == "remove" and len(lista) > 0:
    lista.pop(0)
  return lista

In [101]:
print(en_lista(lista, "add", 2))
print(en_lista(lista, "add", 5))
print(en_lista(lista, "remove"))

[5, 2]
[5, 2, 5]
[2, 5]

In [102]:
lista

[2, 5]

In [94]:
#print(en_lista(lista, "remove"))
print(en_lista(lista, "add", 4))
print(en_lista(lista, "add", 3))
print(en_lista(lista, "remove"))
print(en_lista(lista, "add", 2))
print(en_lista(lista, "remove", 4))

[4]
[4, 3]
[3]
[3, 2]
[2]

In [95]:
en_lista(lista, "add", 4)
print(en_lista(lista, "add", 3))
print(en_lista(lista, "remove"))
print(en_lista(lista, "add", 2))
print(en_lista(lista, "remove", 4))

[2, 4, 3]
[4, 3]
[4, 3, 2]
[3, 2]

In [89]:
en_lista(lista, "add", 4)

[4, 4]

In [122]:
class Coche:
    ruedas = 4
    lista_garajes = []

    def __init__(self, color, num_ventanas = 8, motor=True):
        self.color = color
        self.ventanas = num_ventanas
        self.motor =motor

    def caracteristicas(self):
        print("ruedas " + str(self.ruedas) +
               " garajes " + str(self.lista_garajes) + " color " + self.color)
        
    def con_motor(self):
        if self.motor:
            return "Tiene motor"
        else:
            return "No tiene motor"
    
    def imprime_con_motor(self, nombre):
        print("Hola", nombre)
        self.caracteristicas()
        print("¿Tiene motor?", self.con_motor())
    
    def anade_garaje(self, garaje):
        self.lista_garajes.append(garaje)
        return self.lista_garajes
        
coche2 = Coche(color = "verde", motor = False)
coche2.imprime_con_motor("Alberto")

Hola Alberto
ruedas 4 garajes [] color verde
¿Tiene motor? No tiene motor

In [120]:
coche1 = Coche("amarillo")
coche1.caracteristicas()

ruedas 4 garajes [] color amarillo

In [115]:
coche1.motor

True

In [106]:
(2 + 3 +
5)
2 + 3 +\
5
# esto es partir una línea y seguir en la siguiente "siendo la misma"
# "\\n"

10

In [129]:
# funciones con una cantidad de parámetros indefinida
# * --> tuplas
# ** --> diccionarios

def suma(*args, nombre = "Alberto"):
    print("Hola", nombre)
    for x in args:
        print(x)
    return sum(args)

valor_retornado = suma(1,2,3,4,5,6,7,8,9, nombre="lalala")
print(valor_retornado)

Hola lalala
1
2
3
4
5
6
7
8
9
45

In [131]:
def suma(*args, **kwargs):
    # kwargs es un diccionario
    suma = 0
    for clave in kwargs:
        print(clave, kwargs[clave])
        suma = suma + kwargs[clave]

    for x in args:
        print(x, end=" ")
    print()
    return suma

resultado = suma("Alberto", "John", volumen = 2, temperatura = 5, densidad = 7) # kwargs --> {"volumen":2, "temperatura":5}

volumen 2
temperatura 5
densidad 7
Alberto John

In [134]:
mi_lambda = lambda x, y: (x[0], y[-1])

print(mi_lambda("hola", "adiós"))
print(mi_lambda([1,2,3], (7,8)))
print(mi_lambda(True, False)) # da error

('h', 's')
(1, 8)

TypeError: 'bool' object is not subscriptable

In [145]:
list(map(lambda x: x.upper(), [ "hola", "adiós"]))
list(map(str.upper, [ "hola", "adiós"]))
list(map(lambda x: x + "lalala", [ "hola", "adiós"]))

['holalalala', 'adióslalala']

In [147]:
list(zip(["hola", "adiós"], [1,2,3,4], (4,5,6)))

[('hola', 1, 4), ('adiós', 2, 5)]

In [ ]:
# map(funcion, iterable) --> MapObject
# zip(iterable)